@{
    ViewBag.Title = "Afterlogin";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1><span style="color:#a9a9a9;"><samp><span style="background-color:lightgray;"><span style="font-size:48px;"><b>THƯ VIỆN ĐIỆN TỬ</b></span></span></samp></span></h1>
                <h4><span style="color:#a9a9a9;">@ViewBag.Message</span></h4>
                <h1>  </h1>
            </hgroup>            
        </div>
    </section>
}


<h2>Afterlogin</h2>
@if (Session["LogedUserID"] != null)
{
    <text>
        Welcome @Session["LogedUserID"].ToString();
    </text>
}